:root{
  box-sizing: border-box;
}

body {
        
        margin: 1rem auto;
        padding: 3rem;
        font-family: sans-serif;
        background-color: hsla(208, 15%, 80%, 0.685);
        
      }
      header {
        width: 50%;
        margin: 1em auto;
        font-size: 1.3rem;
          h1{
            text-align: center;
          }
      }
      main {
        min-width: 25rem;
        max-width: 50%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
      }
      #statement {
        background-color: rgba(250, 235, 215, 0.816);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 0.5rem;
        box-shadow: 5px 5px 5px gray;
        padding: 1rem;
        font-size: x-large;
        text-align: center;
        margin: 1rem 0px;
        min-height: 2em;
      }
      #explanation {
        padding: 1rem;
        text-align: center;
      }
      #options {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      button {
        padding: 0.5rem;
        font-size: medium;
        border-radius: 5px;
      }
      .correct {
        background-color: hsla(117, 90%, 55%, 0.6);
      }
      .incorrect {
        background-color: hsla(357, 90%, 55%, 0.6);
      }

      .inputUsername{
        padding: 0.3rem;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        width: 28rem;
        box-shadow: 5px 5px 5px gray;
      }
      .startQuiz{
        margin-left: 0.5rem;
        padding: 0.3rem;
        font-size: 1.5rem;
        background-color:  hsla(117, 90%, 55%, 0.6);
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        box-shadow: 5px 5px 5px gray;
      }
      .divInput{
        margin-top: 1rem;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
   